<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>
    <!--    优先使用外部文件-->
    <properties resource="db.properties"/>
    <settings>
<!--        开启_驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <!--        给实体类起别名-->
        <!--        <typeAlias type="com.lm.pojo.User" alias="User"/>-->
        <!--        通过包起别名-->
        <package name="com.lm.pojo"/>
    </typeAliases>
    <!--    配置多个环境-->
    <environments default="development">

        <environment id="development">
            <!--            事务管理-->
            <transactionManager type="JDBC"/>
            <!--            数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="com/lm/mapper/UserMapper.xml"/>-->
        <!--        使用class 和 package配置文件必须和Mapper类同名-->
        <!--        <mapper class="com.lm.mapper.UserMapper"/>-->
        <package name="com.lm.mapper"/>
    </mappers>
</configuration>